//filter过滤器，不可以与js共用！
var  filters={
    changePrice:function(val){
      return parseFloat(val);
      // if(arr[1]==='00'){
      //   return 
      // } else if (arr[1].split('')[1] === '0' && arr[1].split('')[0] !=='0'){
      //   return arr[0] + '.' + arr[1].split('')[0]
      // }else{
      //   return val
      // }
    },
  //倒计时时间过滤器
  overPhone:function (phone) {
    let arr=phone.split('')
    arr.splice(3,4,'****')
    return arr.join('')
  }
}
 
module.exports = filters